@charset "utf-8";
@import url("common.css");
@import url("reset.css");
header{
	height: 50px;
	background-color: #101010;
	line-height: 50px;
}
header h1{ cursor: pointer;color: #999; font-size: 16px; padding-left: 100px;}
header h1:focus,
header h1:hover{
	color: #ffffff;
    background-color: transparent;
}
nav{
	width:10%; 
    float: left;
}

nav ul li{
	
	background-color: #E5E5E5;
	height:40px;
	line-height: 40px;
    text-align: center;
    font-size: 16px;
	
}

nav ul li:hover{
	background-color:#666666;
	border-right: #000000 solid 2px;
	color: #ffffff;
}

nav ul li a:hover{
	color: #ffffff;
}
nav ul li a{
	color:#000000;
}
section{
	width:90%; 
	float: left;
	border:1px solid #e5e5e5;
	border-top:none;
	border-left:none;
	
}
article{
	
}
footer{
	height:100px;
	width:100%;
	background-color: #E5E5E5;
	float: left;
}
