@charset "utf-8";
body {
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}
a{cursor:pointer;}
header {
	height: 123px;
}

.navBox,
.navSubBox {
	height: 61px;
	margin: 0;
	padding: 0;
}

.navBox {
	background-color: #fff;
	border-bottom: 1px solid #efefef;
}

.navSubBox {
	background-color: #fcfcfc;
	border-bottom: 1px solid #eee;
}

.navBox ul,
.navSubBox ul {
	width: 1020px;
	margin: 0 auto;
}

.navBox ul li {
	float: left;
	list-style: none;
	text-align: center;
	line-height: 61px;
	font-size: 12px;
}

.navBox>ul>li:first-child {
	font-size:18px;
	font-weight: bolder;
	width: 102px;
}

.navBox>ul>li:nth-child(2) {
	width: 526px;
}
.navBox .navBox-nth2{
	width:100%;
}
.navBox .navBox-nth2 li{
	font-size: 14px !important;
	font-weight: initial !important;
	width:110px !important;
}
.navBox .navBox-nth2 li:not(:first-child):hover{
	background-color: #f6f6f6;
}
.navBox ul li:nth-child(3) {
	width: 290px;
}
.navBox input[type="search"]{
	margin-top:15px;
	float:left;
	height:30px;
	width:198px;
	background-color: #f8f8f8;
	border:1px solid #eee;
	
}
.navBox input[type="search"]:focus{
	border:1px solid #9cd71b;
}
#a-search{
	margin-top:15px;
	float:left;
	height:30px;
	width:60px;
	display: block;
	background: url(../img/search.png) no-repeat 50% 50% #9cd71b;
}
.navBox>ul>li:last-child {
	width: 102px;
}
.navBox>ul>li:last-child a{
	float:left;
	width:41px;
	height:30px;
	line-height: 30px;
	margin-top:15px;
	margin-left:5px;
	border:1px solid #efefef;
	display: block;
}
.navBox>ul>li:last-child a:hover{
	border:1px solid #9cd71b;
	color:#9CD71B;
}
.navSubBox ul li {
	float: left;
	list-style: none;
	width: 102px;
	text-align: center;
	line-height: 61px;
}

.navSubBox ul li:hover {
	background-color: #f6f6f6;
}

@import url("bootstrap.css");
@import url("common.css");