@charset "utf-8";
@import url("common.css");
@import url("reset.css");
header{
	height: 40px;
	background-color: #E5E5E5;
	line-height: 40px;
}
nav{
	width:10%; 
    float: left;
}
nav ul li:first-child{margin-top: 10px;}
nav ul li{
	
	background-color: #E5E5E5;
	height:30px;
	line-height: 30px;
	border:1px solid #1A356E;
	padding-left: 10px;
	
}
nav ul li:not(:first-child){
	border-top:none;
}
section{
	width:90%; 
	float: left;
	border:1px solid #e5e5e5;
	border-top:none;
	border-left:none;
	
}
article{
	
}
footer{
	height:100px;
	width:100%;
	background-color: #E5E5E5;
	float: left;
}
