body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:8px;
  width:300px;
  height:32px;
  font-size:26px;
  color:#333333;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:85px;
  width:440px;
  height:115px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:115px;
}
#u3 {
  position:absolute;
  left:2px;
  top:50px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:81px;
  width:440px;
  height:115px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:115px;
}
#u5 {
  position:absolute;
  left:2px;
  top:34px;
  width:436px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:50px;
  width:140px;
  height:16px;
  color:#333333;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:70px;
  top:46px;
  width:220px;
  height:25px;
  font-size:21px;
  color:#333333;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:80px;
  top:249px;
  width:440px;
  height:115px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:115px;
}
#u11 {
  position:absolute;
  left:2px;
  top:50px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:70px;
  top:245px;
  width:440px;
  height:115px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:115px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:436px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:70px;
  top:210px;
  width:220px;
  height:25px;
  font-size:21px;
  color:#333333;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:57px;
  top:360px;
  width:803px;
  height:324px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:324px;
}
#u17 {
  position:absolute;
  left:2px;
  top:154px;
  width:799px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:81px;
  top:748px;
  width:469px;
  height:62px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:62px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:70px;
  top:746px;
  width:469px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:62px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:465px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:70px;
  top:710px;
  width:220px;
  height:25px;
  font-size:21px;
  color:#333333;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:88px;
  top:939px;
  width:772px;
  height:581px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:581px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:768px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:70px;
  top:830px;
  width:772px;
  height:669px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:669px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:768px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:87px;
  top:1534px;
  width:743px;
  height:106px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:106px;
}
#u29 {
  position:absolute;
  left:2px;
  top:45px;
  width:739px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:70px;
  top:1530px;
  width:743px;
  height:106px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:106px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:739px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:87px;
  top:1652px;
  width:743px;
  height:48px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:48px;
}
#u33 {
  position:absolute;
  left:2px;
  top:16px;
  width:739px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:70px;
  top:1650px;
  width:743px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:48px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:739px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:87px;
  top:1714px;
  width:743px;
  height:106px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:106px;
}
#u37 {
  position:absolute;
  left:2px;
  top:45px;
  width:739px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:70px;
  top:1710px;
  width:743px;
  height:106px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:106px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:739px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:87px;
  top:1834px;
  width:743px;
  height:106px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:106px;
}
#u41 {
  position:absolute;
  left:2px;
  top:45px;
  width:739px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:70px;
  top:1830px;
  width:743px;
  height:106px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:106px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:739px;
  word-wrap:break-word;
}
