body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:873px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:168px;
  top:68px;
  width:705px;
  height:432px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:432px;
}
#u1 {
  position:absolute;
  left:2px;
  top:208px;
  width:701px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:224px;
  top:498px;
  width:641px;
  height:467px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:467px;
}
#u3 {
  position:absolute;
  left:2px;
  top:226px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
