body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1038px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7815 {
  position:absolute;
  left:1063px;
  top:6px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u7816 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u7817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7817 {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:90px;
}
#u7818 {
  position:absolute;
  left:2px;
  top:37px;
  width:1049px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7819 {
  position:absolute;
  left:50px;
  top:20px;
  width:123px;
  height:37px;
}
#u7820 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u7821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7821 {
  position:absolute;
  left:200px;
  top:29px;
  width:49px;
  height:28px;
}
#u7822 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:479px;
}
#u7823 {
  position:absolute;
  left:70px;
  top:100px;
  width:963px;
  height:479px;
}
#u7824 {
  position:absolute;
  left:2px;
  top:232px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:372px;
}
#u7825 {
  position:absolute;
  left:63px;
  top:559px;
  width:974px;
  height:372px;
}
#u7826 {
  position:absolute;
  left:2px;
  top:178px;
  width:970px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1338px;
  height:302px;
}
#u7827 {
  position:absolute;
  left:-150px;
  top:928px;
  width:1338px;
  height:302px;
}
#u7828 {
  position:absolute;
  left:2px;
  top:143px;
  width:1334px;
  visibility:hidden;
  word-wrap:break-word;
}
