body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1219px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:264px;
  top:569px;
  width:646px;
  height:121px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:121px;
}
#u1 {
  position:absolute;
  left:2px;
  top:52px;
  width:642px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:401px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:401px;
}
#u3 {
  position:absolute;
  left:2px;
  top:192px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:430px;
  width:210px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:470px;
  width:210px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:510px;
  width:210px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:550px;
  width:210px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:590px;
  width:210px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:630px;
  width:210px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:10px;
  top:670px;
  width:210px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:284px;
  top:450px;
  width:600px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u19 {
  position:absolute;
  left:288px;
  top:416px;
  width:220px;
  height:32px;
  font-size:26px;
  color:#333333;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:300px;
  top:482px;
  width:140px;
  height:16px;
  color:#333333;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:380px;
  top:482px;
  width:140px;
  height:16px;
  color:#333333;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:480px;
  top:470px;
  width:140px;
  height:40px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:288px;
  top:520px;
  width:600px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u28 {
  position:absolute;
  left:308px;
  top:539px;
  width:140px;
  height:16px;
  color:#333333;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:380px;
  top:534px;
  width:220px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30_input {
  font-family:'应用字体';
}
#u31 {
  position:absolute;
  left:284px;
  top:632px;
  width:600px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u32 {
  position:absolute;
  left:308px;
  top:594px;
  width:140px;
  height:16px;
  color:#333333;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:380px;
  top:589px;
  width:220px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34_input {
  font-family:'应用字体';
}
#u35 {
  position:absolute;
  left:620px;
  top:582px;
  width:140px;
  height:40px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:317px;
  top:657px;
  width:140px;
  height:16px;
  color:#333333;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:389px;
  top:652px;
  width:220px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u39_input {
  font-family:'应用字体';
}
#u40 {
  position:absolute;
  left:400px;
  top:700px;
  width:140px;
  height:40px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:298px;
  top:579px;
  width:600px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u43 {
  position:absolute;
  left:300px;
  top:680px;
  width:600px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u44 {
  position:absolute;
  left:685px;
  top:632px;
  width:254px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:237px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:4px;
  width:254px;
  height:3px;
}
#u45 {
  position:absolute;
  left:949px;
  top:622px;
  width:270px;
  height:33px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:33px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:959px;
  top:632px;
  width:231px;
  height:16px;
  color:#333333;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
