@charset "utf-8";
.redionbtn-box {
	margin-top: 50px;
	margin-left: 100px;
	border: 1px solid #FFC52B;
	width: 300px;
	height: 100px;
}
.redionbtn-box ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 300px;
}
.redionbtn-box ul li {
	float: left;
	width: 100xp;
	margin-right: 10px;
}
.redionbtn-box ul li a {
	background: url(../../img/checkbox.png) no-repeat top left;
	line-height: 22px;
	height: 21px;
	width: 21px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	cursor: pointer;
}
.redionbtn-box ul li p {
	float: right;
}


.checkbox-box {
	margin-top: 50px;
	margin-left: 100px;
	border: 1px solid #FFC52B;
	width: 120px;
	height: 200px;
}
.checkbox-box a {
	background: url(../../img/checkbox.png) no-repeat top left;
	height: 21px;
	width: 21px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	cursor: pointer;
}
.checkbox-box .redionbtn ,
.redionbtn-box .redionbtn {
	background-position: 0 0px;
}
.checkbox-box .redionbtn-cur,
.redionbtn-box .redionbtn-cur {
	background-position: 0 -43px;
}
.checkbox-box-data{
	margin: 0 auto;
	border: 1px solid #FFC52B;
	width: 100px;
	height: auto;
	
}
.checkbox-box-data ul {
	list-style: none;
	margin: 0px;
	padding: 0px;	
}
.checkbox-box-data ul li {
	height: 22px;
	line-height: 22px;
}

