@charset "utf-8";
.faw-praise,
.faw-follow{
	height:21px;
	line-height: 21px;
	vertical-align: middle;
	
}

.faw-praise-c,
.faw-follow-c{
	height:21px;
	line-height: 21px;
	vertical-align: middle;
	color:#ffc52b;
}
.faw-follow i{
	height:21px; 
	width:23px;
	background: url(../../img/gtw_30.png)no-repeat;
	display: inline-block; 
	vertical-align: middle;
	
	
}
.faw-follow-c i{
	height:21px; 
	width:23px;
	background: url(../../img/gtw_30_c.png)no-repeat;
	display: inline-block; 
	vertical-align: middle;
}
.faw-praise i{
	height:21px; 
	width:23px;
	background: url(../../img/gtw_tg1.png)no-repeat;
	display: inline-block; 
	vertical-align: middle;
}
.faw-praise-c i{
	height:21px; 
	width:23px;
	background: url(../../img/gtw_tg.png)no-repeat;
	display: inline-block; 
	vertical-align: middle;
}
