@charset "utf-8";

.prompt {
	margin-top: 50px;
	margin-left: 50px;
	width: 434px;
	height: 180px;
	position: relative;
}

.prompt-box {
	/*-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
    border-radius: 8px;
    */
	box-shadow: 1px 1px 4px 4px #a4a4a4;
	-moz-box-shadow: 1px 1px 4px 4px #a4a4a4;
	-webkit-box-shadow: 1px 1px 4px 4px #a4a4a4;
	position: relative;
	z-index: 1;
}

.prompt-title {
	height: 30px;
	line-height: 30px;
}

.prompt-title p {
	margin-left: 10px;
}

.prompt-title a {
	background: url(../../img/prompt_icon.png) no-repeat top left;
	float: right;
	width: 12px;
	height: 12px;
	line-height: 12px;
	cursor: pointer;
	margin-top: 10px;
	margin-right: 10px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.prompt-title a:hover {
	background-position: -12px -31px;
}

.prompt-title .prompt-title-a {
	background-position: 0 -31px;
}

.prompt-content {
	height: 70px;
	line-height: 30px;
	background-color: #fff;
}

.prompt-content ul {
	width: auto;
	height: 32px;
	list-style: none;
	padding-top: 20px;
	margin-left: 60px;
}

.prompt-content ul li {
	float: left;
	line-height: 32px;
}

.prompt-content ul li p {
	margin-left: 15px;
	font-size: 16px;
	width: auto;
	float: left;
	text-align: center;
}

.prompt-content ul li i {
	background: url(../../img/prompt_icon.png) no-repeat top left;
	line-height: 31px;
	height: 31px;
	width: 31px;
	float: left;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.prompt-content .prompt-content-img-i-w {
	background-position: 0 0;
}

.prompt-content .prompt-content-img-i-t {
	background-position: -31px 0px;
}

.prompt-content .prompt-content-img-i-d {
	background-position: -62px 0px;
}

.prompt-content .prompt-content-img-i-c {
	background-position: -93px 0px;
}


/*
 * 红色 叹号、叉号
 */

.prompt-content .prompt-content-t-c {
	color: #ff7c5b;
}


/*
 * 橙色 问号、对号
 */

.prompt-content .prompt-content-w-d {
	color: #ffc52b;
}

.prompt-button {
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.prompt-btn-bgc {
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 12px;
	cursor: pointer;
	margin-right: 10px;
}


/*
 * 橙色 问号、对号
 */

.btn-bgc-okey-w-d {
	background: #ffc52b;
	border: 1px solid #ffc52b;
	color: #fff;
}

.btn-bgc-okey-w-d:hover {
	text-decoration: none;
	background: #f0a33f;
	border: 1px solid #f0a33f;
	color: #fff;
}


/*
 * 红色 叹号、叉号
 */

.btn-bgc-okey-t-c {
	background: #ff7c5b;
	border: 1px solid #ff7c5b;
	color: #fff;
}

.btn-bgc-okey-t-c:hover {
	text-decoration: none;
	background: #ff4949;
	border: 1px solid #ff4949;
	color: #fff;
}

.btn-bgc-cancel {
	background: #fff;
	border: 1px solid #e5e5e5;
	color: #333;
}

.btn-bgc-cancel:hover {
	text-decoration: none;
	background: #ececec;
	border: 1px solid #e5e5e5;
	color: #333;
}


/*============================================*/

.popup {
	width: 600px;
	position: relative;
	margin:0 auto;
}

.popup-box {
	box-shadow: 1px 1px 4px 4px #a4a4a4;
	-moz-box-shadow: 1px 1px 4px 4px #a4a4a4;
	-webkit-box-shadow: 1px 1px 4px 4px #a4a4a4;
	position: relative;
	z-index: 1;
}

.popup-title {
	height: 30px;
	line-height: 30px;
	background: #ff4949;
}

.popup-title p {
	margin-left: 10px;
	color: #fff;
	font-size: 14px;
}

.popup-title a {
	background: url(../../img/prompt_icon.png) no-repeat top left;
	float: right;
	width: 12px;
	height: 12px;
	line-height: 12px;
	cursor: pointer;
	margin-top: 10px;
	margin-right: 10px;
}
/*
.popup-title a:hover {
	background-position: -12px -31px;
}*/

.popup-title .popup-title-a {
	background-position: 0 -31px;
}

.popup-button {
	margin-top: 10px;
	width: 90%;
	margin: 0 auto;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.popup-button a {
	float: right;
	margin-top: 10px;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-left: 10px;
	font-size: 12px;
	cursor: pointer;
}
.btn-bgc-close,
.btn-bgc-okey {
	background: #ff7c5b;
	border: 1px solid #ff7c5b;
	color: #fff;
}
.btn-bgc-close:hover,
.btn-bgc-okey:hover {
	text-decoration: none;
	background: #ff4949;
	border: 1px solid #ff4949;
	color: #fff;
}


.popup-content {
	width: 90%;
	height: 500px;
	margin: 0 auto;
	background-color: #fff;
}

.popup-content dl{width:75%;margin:0 auto;}
.popup-content dl:first-child{margin-top:20px;}
.popup-content dt,
.popup-content dd{float: left;line-height: 30px;font-size: 16px;margin-bottom: 30px;}
.popup-content dt{width:20%; text-align: right;margin-right: 20px;}
.popup-content dd{width:70%; text-align: left;margin-left:20px;}
