@charset "utf-8";
@import url("../../css/common.css");
@import url("../../css/reset.css");
.prompt_body{
	background-color: #666;
	position: absolute;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
}



