@charset "utf-8";

.radiobutton-box-fun {
	width: 300px;
	height: 100px;
	margin-left: 100px;
	margin-top: 50px;
}
.radiobutton-box {
	width: 300px;
	height: 100px;
	margin-left: 100px;
	margin-top: 50px;
}
.radio-icon {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 300px;
}
.radio-icon li{
	float: left;
	width: 100xp;	
	margin-right: 10px;
}
.radio-icon li a {
	background: url(../../img/radio.png) no-repeat top left;
	width: 20px;
	height: 20px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.radio-icon li p{ float: right;}
.radio-icon .radio-button {
	background-position: 0 0;
}
.radio-icon .radio-button-cur {
	background-position: 0 -20px;
}
