@charset "utf-8";
@import url("../../css/common.css");
@import url("../../css/reset.css");
.tab_title_box {
	width: 1000px;
	height: auto;	
	border-left:#cccccc solid 1px;
	margin-left: 100px;
	overflow: hidden;
	margin-bottom: -2px;
}
.tab_title_box ul {
	width: 800px;
	
}
.tab_title_box ul li {
	width: 200px;
	height: 38px;
	background: #f6f6f6;
	float: left;
	border-top:#cccccc solid 1px;
	border-right: 1px solid #cccccc;
	line-height: 38px;
	color: #999;
	text-align: center;
	cursor: pointer;
	

}
.tab_title_box .tab_title_cur {
	background: #fff;
	color: #ffc52b;
	border-bottom:none;
	border-top: 3px solid #ffc52b;
	
}
.tab_box{
	border:#cccccc solid 1px;
	width: 1000px;
	height:100px;
	margin-left: 100px;
}
.tab_box_centent{
	height:80px;
}
