@charset "utf-8";

.tab-title-box {
	width: 700px;
	height: auto;	
	border-left:#cccccc solid 1px;
	margin-left: 10px;
	overflow: hidden;
	margin-bottom: -2px;
}
.tab-title-box ul {
	width: 100%;
	
}
.tab-title-box ul li {
	width: 200px;
	height: 38px;
	background: #f6f6f6;
	float: left;
	border-top:#cccccc solid 1px;
	border-right: 1px solid #cccccc;
	line-height: 38px;
	color: #999;
	text-align: center;
	cursor: pointer;
	

}
.tab-title-box .tab-title-cur {
	background: #fff;
	color: #ffc52b;
	border-bottom:none;
	border-top: 3px solid #ffc52b;
	
}
.tab-box{
	border:#cccccc solid 1px;
	width: 700px;
	height:100px;
	margin-left: 10px;
}
.tab-box-centent{
	height:80px;
}
