@charset "utf-8";

.tab-title-box:first-child{margin-top:10px;}
.tab-title-box {
	width: 700px;
	height: 30px;
	line-height: 30px;
	margin-left:10px;
	
	background-color:#ffc52b;
	border: 1px solid #ffc52b;
	border-bottom: 1px solid #cccccc;
	cursor: pointer;
	color: #fff;
   
}
.tab-box-cur{
	color: #000;
	border-bottom: 1px solid #ffc52b;
}

.tab-box-centent {
	border: #cccccc solid 1px;
	border-bottom: 1px solid #ffc52b;
	border-top: 1px solid #ffc52b;
	width: 700px;
	height: 100px;
	margin-left: 10px;
}
.tab-box-content-border{
	border-bottom: 1px solid #cccccc;
	
}
