body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:54px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:54px;
}
#u1 {
  position:absolute;
  left:2px;
  top:19px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:64px;
  width:200px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:60px;
  top:114px;
  width:150px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:60px;
  top:164px;
  width:150px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:60px;
  top:214px;
  width:150px;
  height:50px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:60px;
  top:264px;
  width:150px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:60px;
  top:314px;
  width:150px;
  height:50px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:60px;
  top:364px;
  width:150px;
  height:50px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
