@charset "utf-8";
@import url("skin-select/skin-select.css");
@import url("../../../css/entypo-icon.css");
@import url("../../../css/font-awesome.css");
@import url("../../../css/dripicon.css");
body {
    color: #F0A33F!important;
    font-family:"Open Sans", Arial, sans-serif!important;
    font-size: 13px!important;
    line-height: 20px;
    overflow-x: hidden!important;
    min-height: 100%;
    z-index: -2;
    background-color: #fff9e9;
    margin: 0px !important;
}
/*
 * Logo
 */
#logo {
    left: 19px;
    position: relative;
    top: -26px;
    max-width: 191px;
}
#logo-mobile {
    left: -33px;
    position: absolute;
    top: -14px;
    z-index: 0;
}
#logo h1, #logo-mobile h1 {
    font-size: 30px;
    font-weight: 200;
    letter-spacing: -1px;
    text-decoration: inherit;
    text-transform: uppercase;
    color: #fff;
}
#logo h1 span, #logo-mobile h1 span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-size: 11px;
    margin-left: 0;
    padding: 0 5px;
    position: relative;
    top: -3px;
}
/*
 * 菜单样式
 */
.side-bar {
        margin-top: 0px!important;
        display: block!important;
    }
.topnav {
    padding: 40px 28px 25px 0;
}

ul.topnav {
    margin: 0;
    font-size: 14px;
    line-height: 0.5em!important;
    list-style: none!important;
    padding: 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
ul.topnav li {
}
ul.topnav li a {
    color: #fff; !important;
    display: block;
    font-size: 13px;
    line-height: 25px;
    list-style: none outside none;
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
}

ul.topnav li a:hover {
    background-color:#fff;
    color: black!important;
    text-shadow: none;
    border-left: 2px solid #F0A33F;
    padding-left: 28px;
    position: relative;
}
/*
 * 菜单小箭头
 */
/*ul.topnav li a:hover:after {
    border-bottom:6px solid #F0A33F;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    width:0;
    height:0;
    position: absolute;
    top:19px;
    left: -6px;
    content:"";
    display:block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    tranform: rotate(90deg);
}*/
ul.topnav ul {
    margin: 0;
    padding: 0;
    display: none;
}
ul.topnav ul li {
    margin: 0;
    padding: 0;
    clear: both;
    list-style: none outside none;
}
ul.topnav ul li a {
    background: none repeat scroll 0 0 ;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 13px;
    font-weight: normal;
    outline: 0 none;
    padding-left: 30px;
    
}
ul.topnav ul li a i {
}
ul.topnav ul li a:hover {
    background-color: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    color: #fff;!important;
}
ul.topnav ul ul li a {
    color: #444;
    padding-left: 40px;
    background: #252d3b;
    transition: all 0.2s ease 0s;
}
ul.topnav ul ul li a:hover {
    background-color: #D3CEB8;
    color: #675C7C;
}
ul.topnav h4 {
    float: right !important;
    margin-top: -2px;
}
.wrap-fluid{
   
    width: 100%!important;
}
 .container-fluid {
    padding-left: 0!important;
    padding-right: 0!important;
}
.paper-wrap {
    background-color: none repeat scroll 0 0 #ffffff;
    background-position: -1px 0;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, transparent 20px, $color-green 20px), linear-gradient(135deg, transparent 20px, $color-green 20px), linear-gradient(225deg, transparent 20px, $color-green 20px), linear-gradient(315deg, transparent 20px, $color-green 20px);
    background-position: bottom left, top left, top right, bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    padding: 20px;
    min-height: 1430px;
}
.bevel.tlbr {
    background: #f5f5f5;
    background: -moz-linear-gradient(45deg, #f5f5f5 30px, #f5f5f5 30px), -moz-linear-gradient(135deg, transparent 30px, #f5f5f5 30px), -moz-linear-gradient(225deg, #f5f5f5 30px, #f5f5f5 30px), -moz-linear-gradient(315deg, transparent 30px, #f5f5f5 30px);
    background: -o-linear-gradient(45deg, #f5f5f5 30px, #f5f5f5 30px), -o-linear-gradient(135deg, transparent 30px, #f5f5f5 30px), -o-linear-gradient(225deg, #f5f5f5 30px, #f5f5f5 30px), -o-linear-gradient(315deg, transparent 30px, #f5f5f5 30px);
    background: -webkit-linear-gradient(45deg, #f5f5f5 30px, #f5f5f5 30px), -webkit-linear-gradient(135deg, transparent 30px, #f5f5f5 30px), -webkit-linear-gradient(225deg, #f5f5f5 30px, #f5f5f5 30px), -webkit-linear-gradient(315deg, transparent 30px, #f5f5f5 30px);
}
.bevel.all, .bevel.trbl, .bevel.tlbr, .bevel.tr {
    background-position: bottom left, bottom right, top right, top left;
    -moz-background-size: 52% 52%;
    -webkit-background-size: 52% 52%;
    background-size: 52% 52%;
    background-repeat: no-repeat;
}
.paper-wrap:before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 42px 42px 0;
    border-style: solid;
    border-color: #ffffff rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.content-wrap {
    padding: 0 30px;
}

article{
	
}
footer{
	height:100px;
	width:100%;
	border: 1px solid #000000;
	color: #fff;
	text-align: center;
}



@import url("../../../css/bootstrap.css");
@import url("../../../css/common.css");