.mark{
	border: 1px;
	background-color: #f6f6f6;
	width:800px;
	height:400px;
	line-height: 30px;
	font-size: 16px;
}
.fl{
	float: left;
}
.ml460{
	margin-left: 460px;
}
.bc-f6-bod-ef:hover a{color:#9cd71b;}
