body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:82px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:82px;
}
#u2 {
  position:absolute;
  left:2px;
  top:33px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:100px;
  width:1300px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:1283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1300px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:150px;
  width:150px;
  height:330px;
  overflow:hidden;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:330px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:60px;
  width:150px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:90px;
  width:150px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:300px;
  width:150px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:149px;
  width:150px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:40px;
  top:179px;
  width:110px;
  height:121px;
  overflow:hidden;
}
#u20_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:121px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:30px;
  width:110px;
  height:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:60px;
  width:110px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:90px;
  width:110px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
