body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:99px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:99px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:1361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:420px;
  top:120px;
  width:670px;
  height:66px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:66px;
}
#u5 {
  position:absolute;
  left:2px;
  top:25px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:350px;
  top:190px;
  width:700px;
  height:380px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:380px;
}
#u8 {
  position:absolute;
  left:2px;
  top:182px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:478px;
  top:463px;
  width:453px;
  height:67px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:67px;
}
#u10 {
  position:absolute;
  left:2px;
  top:26px;
  width:449px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:530px;
  top:231px;
  width:261px;
  height:79px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:79px;
}
#u12 {
  position:absolute;
  left:2px;
  top:32px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:380px;
  top:340px;
  width:650px;
  height:80px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:80px;
}
#u14 {
  position:absolute;
  left:2px;
  top:32px;
  width:646px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1030px;
  top:260px;
  width:110px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:93px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:4px;
  width:110px;
  height:3px;
}
#u16 {
  position:absolute;
  left:1150px;
  top:248px;
  width:240px;
  height:122px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:122px;
}
#u17 {
  position:absolute;
  left:2px;
  top:53px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1159px;
  top:256px;
  width:221px;
  height:16px;
  color:#333333;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1159px;
  top:282px;
  width:221px;
  height:16px;
  color:#333333;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1159px;
  top:308px;
  width:221px;
  height:16px;
  color:#333333;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1160px;
  top:334px;
  width:221px;
  height:16px;
  color:#333333;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
