body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1041px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-120px;
  top:11px;
  width:1281px;
  height:545px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:545px;
}
#u1 {
  position:absolute;
  left:2px;
  top:264px;
  width:1277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-79px;
  top:437px;
  width:1231px;
  height:373px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1231px;
  height:373px;
}
#u3 {
  position:absolute;
  left:2px;
  top:178px;
  width:1227px;
  visibility:hidden;
  word-wrap:break-word;
}
