body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:610px;
  height:200px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:200px;
}
#u1 {
  position:absolute;
  left:2px;
  top:58px;
  width:606px;
  word-wrap:break-word;
}
