body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1365px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:99px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:99px;
}
#u2 {
  position:absolute;
  left:2px;
  top:42px;
  width:1361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:203px;
  top:130px;
  width:1107px;
  height:1060px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:1060px;
}
#u4 {
  position:absolute;
  left:2px;
  top:522px;
  width:1103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:220px;
  top:140px;
  width:220px;
  height:120px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
}
#u6 {
  position:absolute;
  left:2px;
  top:52px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:230px;
  top:150px;
  width:220px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:280px;
  top:151px;
  width:140px;
  height:16px;
  color:#333333;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:230px;
  top:169px;
  width:200px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u12 {
  position:absolute;
  left:230px;
  top:179px;
  width:220px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:290px;
  top:180px;
  width:140px;
  height:16px;
  color:#333333;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:160px;
  top:184px;
  width:70px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  height:3px;
}
#u17 {
  position:absolute;
  left:51px;
  top:174px;
  width:109px;
  height:34px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u18 {
  position:absolute;
  left:2px;
  top:9px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:58px;
  top:181px;
  width:102px;
  height:16px;
  color:#333333;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:230px;
  top:208px;
  width:200px;
  height:40px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:160px;
  top:224px;
  width:70px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  height:3px;
}
#u24 {
  position:absolute;
  left:51px;
  top:214px;
  width:109px;
  height:34px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u25 {
  position:absolute;
  left:2px;
  top:9px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:58px;
  top:221px;
  width:102px;
  height:16px;
  color:#333333;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:222px;
  top:330px;
  width:218px;
  height:50px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:214px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:222px;
  top:530px;
  width:218px;
  height:50px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u32 {
  position:absolute;
  left:2px;
  top:17px;
  width:214px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:222px;
  top:580px;
  width:218px;
  height:50px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u34 {
  position:absolute;
  left:2px;
  top:17px;
  width:214px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:222px;
  top:630px;
  width:218px;
  height:50px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u36 {
  position:absolute;
  left:2px;
  top:17px;
  width:214px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:252px;
  top:680px;
  width:188px;
  height:50px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
}
#u38 {
  position:absolute;
  left:2px;
  top:17px;
  width:184px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:252px;
  top:730px;
  width:188px;
  height:50px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
}
#u40 {
  position:absolute;
  left:2px;
  top:17px;
  width:184px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:252px;
  top:780px;
  width:188px;
  height:50px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
}
#u42 {
  position:absolute;
  left:2px;
  top:17px;
  width:184px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:222px;
  top:830px;
  width:218px;
  height:50px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u44 {
  position:absolute;
  left:2px;
  top:17px;
  width:214px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:222px;
  top:880px;
  width:218px;
  height:50px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u46 {
  position:absolute;
  left:2px;
  top:17px;
  width:214px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:262px;
  top:930px;
  width:178px;
  height:50px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
}
#u48 {
  position:absolute;
  left:2px;
  top:17px;
  width:174px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:262px;
  top:980px;
  width:178px;
  height:50px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
}
#u50 {
  position:absolute;
  left:2px;
  top:17px;
  width:174px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:252px;
  top:380px;
  width:188px;
  height:50px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
}
#u52 {
  position:absolute;
  left:2px;
  top:17px;
  width:184px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:252px;
  top:430px;
  width:188px;
  height:50px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
}
#u54 {
  position:absolute;
  left:2px;
  top:17px;
  width:184px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:252px;
  top:480px;
  width:188px;
  height:50px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
}
#u56 {
  position:absolute;
  left:2px;
  top:17px;
  width:184px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:221px;
  top:280px;
  width:218px;
  height:50px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u58 {
  position:absolute;
  left:2px;
  top:17px;
  width:214px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:450px;
  top:140px;
  width:240px;
  height:30px;
  overflow:hidden;
}
#u59_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u59_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u60 {
  position:absolute;
  left:218px;
  top:0px;
  width:12px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:110px;
  top:0px;
  width:108px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:113px;
  top:2px;
  width:105px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
}
#u65 {
  position:absolute;
  left:2px;
  top:5px;
  width:101px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:108px;
  top:0px;
  width:12px;
  height:30px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:7px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:3px;
  top:2px;
  width:105px;
  height:26px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
}
#u71 {
  position:absolute;
  left:2px;
  top:5px;
  width:101px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:460px;
  top:208px;
  width:140px;
  height:16px;
  color:#333333;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:530px;
  top:204px;
  width:220px;
  height:25px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u74_input {
  font-family:'应用字体';
}
#u75 {
  position:absolute;
  left:760px;
  top:208px;
  width:140px;
  height:16px;
  color:#333333;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:940px;
  top:204px;
  width:120px;
  height:22px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u77_input {
  font-family:'应用字体';
}
#u77_input:disabled {
  color:grayText;
}
#u78 {
  position:absolute;
  left:1080px;
  top:200px;
  width:180px;
  height:31px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:31px;
}
#u79 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:810px;
  top:205px;
  width:120px;
  height:22px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u80_input {
  font-family:'应用字体';
}
#u80_input:disabled {
  color:grayText;
}
#u82 {
  position:absolute;
  left:470px;
  top:280px;
  width:230px;
  height:190px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:190px;
}
#u83 {
  position:absolute;
  left:2px;
  top:87px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:470px;
  top:280px;
  width:150px;
  height:140px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:140px;
}
#u85 {
  position:absolute;
  left:2px;
  top:62px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:630px;
  top:284px;
  width:140px;
  height:16px;
  color:#333333;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:630px;
  top:310px;
  width:140px;
  height:16px;
  color:#333333;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:630px;
  top:397px;
  width:140px;
  height:16px;
  color:#333333;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:630px;
  top:354px;
  width:140px;
  height:16px;
  color:#333333;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:475px;
  top:430px;
  width:225px;
  height:16px;
  color:#333333;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:470px;
  top:470px;
  width:80px;
  height:50px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u97 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:550px;
  top:470px;
  width:70px;
  height:50px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u99 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:620px;
  top:470px;
  width:80px;
  height:50px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u101 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:470px;
  top:520px;
  width:230px;
  height:40px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u103 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:729px;
  top:280px;
  width:230px;
  height:190px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:190px;
}
#u106 {
  position:absolute;
  left:2px;
  top:87px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:729px;
  top:280px;
  width:150px;
  height:140px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:140px;
}
#u108 {
  position:absolute;
  left:2px;
  top:62px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:889px;
  top:284px;
  width:140px;
  height:16px;
  color:#333333;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:889px;
  top:310px;
  width:140px;
  height:16px;
  color:#333333;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:889px;
  top:397px;
  width:140px;
  height:16px;
  color:#333333;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:889px;
  top:354px;
  width:140px;
  height:16px;
  color:#333333;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:734px;
  top:430px;
  width:225px;
  height:16px;
  color:#333333;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:729px;
  top:470px;
  width:80px;
  height:50px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u120 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:809px;
  top:470px;
  width:70px;
  height:50px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u122 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:879px;
  top:470px;
  width:80px;
  height:50px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u124 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:729px;
  top:520px;
  width:230px;
  height:40px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u126 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:980px;
  top:280px;
  width:230px;
  height:190px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:190px;
}
#u129 {
  position:absolute;
  left:2px;
  top:87px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:980px;
  top:280px;
  width:150px;
  height:140px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:140px;
}
#u131 {
  position:absolute;
  left:2px;
  top:62px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:1140px;
  top:284px;
  width:140px;
  height:16px;
  color:#333333;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:1140px;
  top:310px;
  width:140px;
  height:16px;
  color:#333333;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:1140px;
  top:397px;
  width:140px;
  height:16px;
  color:#333333;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:1140px;
  top:354px;
  width:140px;
  height:16px;
  color:#333333;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:985px;
  top:430px;
  width:225px;
  height:16px;
  color:#333333;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:980px;
  top:470px;
  width:80px;
  height:50px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u143 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:1060px;
  top:470px;
  width:70px;
  height:50px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u145 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:1130px;
  top:470px;
  width:80px;
  height:50px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u147 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:980px;
  top:520px;
  width:230px;
  height:40px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u149 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:465px;
  top:580px;
  width:230px;
  height:190px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:190px;
}
#u152 {
  position:absolute;
  left:2px;
  top:87px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:465px;
  top:580px;
  width:150px;
  height:140px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:140px;
}
#u154 {
  position:absolute;
  left:2px;
  top:62px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:625px;
  top:584px;
  width:140px;
  height:16px;
  color:#333333;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:625px;
  top:610px;
  width:140px;
  height:16px;
  color:#333333;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:625px;
  top:697px;
  width:140px;
  height:16px;
  color:#333333;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:625px;
  top:654px;
  width:140px;
  height:16px;
  color:#333333;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:470px;
  top:730px;
  width:225px;
  height:16px;
  color:#333333;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:465px;
  top:770px;
  width:80px;
  height:50px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u166 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:545px;
  top:770px;
  width:70px;
  height:50px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u168 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:615px;
  top:770px;
  width:80px;
  height:50px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u170 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:465px;
  top:820px;
  width:230px;
  height:40px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u172 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:724px;
  top:580px;
  width:230px;
  height:190px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:190px;
}
#u175 {
  position:absolute;
  left:2px;
  top:87px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:724px;
  top:580px;
  width:150px;
  height:140px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:140px;
}
#u177 {
  position:absolute;
  left:2px;
  top:62px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:884px;
  top:584px;
  width:140px;
  height:16px;
  color:#333333;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:884px;
  top:610px;
  width:140px;
  height:16px;
  color:#333333;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:884px;
  top:697px;
  width:140px;
  height:16px;
  color:#333333;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:884px;
  top:654px;
  width:140px;
  height:16px;
  color:#333333;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:729px;
  top:730px;
  width:225px;
  height:16px;
  color:#333333;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:724px;
  top:770px;
  width:80px;
  height:50px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u189 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:804px;
  top:770px;
  width:70px;
  height:50px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u191 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:874px;
  top:770px;
  width:80px;
  height:50px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u193 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:724px;
  top:820px;
  width:230px;
  height:40px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u195 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:975px;
  top:580px;
  width:230px;
  height:190px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:190px;
}
#u198 {
  position:absolute;
  left:2px;
  top:87px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:975px;
  top:580px;
  width:150px;
  height:140px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:140px;
}
#u200 {
  position:absolute;
  left:2px;
  top:62px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:1135px;
  top:584px;
  width:140px;
  height:16px;
  color:#333333;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:1135px;
  top:610px;
  width:140px;
  height:16px;
  color:#333333;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:1135px;
  top:697px;
  width:140px;
  height:16px;
  color:#333333;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:1135px;
  top:654px;
  width:140px;
  height:16px;
  color:#333333;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:980px;
  top:730px;
  width:225px;
  height:16px;
  color:#333333;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:975px;
  top:770px;
  width:80px;
  height:50px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u212 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:1055px;
  top:770px;
  width:70px;
  height:50px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u214 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:1125px;
  top:770px;
  width:80px;
  height:50px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u216 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:975px;
  top:820px;
  width:230px;
  height:40px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u218 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:465px;
  top:880px;
  width:230px;
  height:190px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:190px;
}
#u221 {
  position:absolute;
  left:2px;
  top:87px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:465px;
  top:880px;
  width:150px;
  height:140px;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:140px;
}
#u223 {
  position:absolute;
  left:2px;
  top:62px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:625px;
  top:884px;
  width:140px;
  height:16px;
  color:#333333;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:625px;
  top:910px;
  width:140px;
  height:16px;
  color:#333333;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:625px;
  top:997px;
  width:140px;
  height:16px;
  color:#333333;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:625px;
  top:954px;
  width:140px;
  height:16px;
  color:#333333;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:470px;
  top:1030px;
  width:225px;
  height:16px;
  color:#333333;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:465px;
  top:1070px;
  width:80px;
  height:50px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u235 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:545px;
  top:1070px;
  width:70px;
  height:50px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u237 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:615px;
  top:1070px;
  width:80px;
  height:50px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u239 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:465px;
  top:1120px;
  width:230px;
  height:40px;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u241 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:724px;
  top:880px;
  width:230px;
  height:190px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:190px;
}
#u244 {
  position:absolute;
  left:2px;
  top:87px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:724px;
  top:880px;
  width:150px;
  height:140px;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:140px;
}
#u246 {
  position:absolute;
  left:2px;
  top:62px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:884px;
  top:884px;
  width:140px;
  height:16px;
  color:#333333;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:884px;
  top:910px;
  width:140px;
  height:16px;
  color:#333333;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:884px;
  top:997px;
  width:140px;
  height:16px;
  color:#333333;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u253 {
  position:absolute;
  left:884px;
  top:954px;
  width:140px;
  height:16px;
  color:#333333;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:729px;
  top:1030px;
  width:225px;
  height:16px;
  color:#333333;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:724px;
  top:1070px;
  width:80px;
  height:50px;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u258 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:804px;
  top:1070px;
  width:70px;
  height:50px;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u260 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:874px;
  top:1070px;
  width:80px;
  height:50px;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u262 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:724px;
  top:1120px;
  width:230px;
  height:40px;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u264 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u266 {
  position:absolute;
  left:975px;
  top:880px;
  width:230px;
  height:190px;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:190px;
}
#u267 {
  position:absolute;
  left:2px;
  top:87px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:975px;
  top:880px;
  width:150px;
  height:140px;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:140px;
}
#u269 {
  position:absolute;
  left:2px;
  top:62px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270 {
  position:absolute;
  left:1135px;
  top:884px;
  width:140px;
  height:16px;
  color:#333333;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u272 {
  position:absolute;
  left:1135px;
  top:910px;
  width:140px;
  height:16px;
  color:#333333;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u274 {
  position:absolute;
  left:1135px;
  top:997px;
  width:140px;
  height:16px;
  color:#333333;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u276 {
  position:absolute;
  left:1135px;
  top:954px;
  width:140px;
  height:16px;
  color:#333333;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u278 {
  position:absolute;
  left:980px;
  top:1030px;
  width:225px;
  height:16px;
  color:#333333;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u279 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u280 {
  position:absolute;
  left:975px;
  top:1070px;
  width:80px;
  height:50px;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u281 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u282 {
  position:absolute;
  left:1055px;
  top:1070px;
  width:70px;
  height:50px;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u283 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u284 {
  position:absolute;
  left:1125px;
  top:1070px;
  width:80px;
  height:50px;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u285 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u286 {
  position:absolute;
  left:975px;
  top:1120px;
  width:230px;
  height:40px;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u287 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
