body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1019px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1034px;
  height:500px;
}
#u7765 {
  position:absolute;
  left:9px;
  top:34px;
  width:1034px;
  height:500px;
}
#u7766 {
  position:absolute;
  left:2px;
  top:242px;
  width:1030px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:30px;
}
#u7767 {
  position:absolute;
  left:-30px;
  top:0px;
  width:1140px;
  height:30px;
}
#u7768 {
  position:absolute;
  left:2px;
  top:7px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7769 {
  position:absolute;
  left:844px;
  top:7px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u7770 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u7771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7771 {
  position:absolute;
  left:1063px;
  top:6px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u7772 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u7773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7773 {
  position:absolute;
  left:901px;
  top:7px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u7774 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u7775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7775 {
  position:absolute;
  left:981px;
  top:7px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u7776 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u7777 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:102px;
}
#u7778 {
  position:absolute;
  left:933px;
  top:33px;
  width:135px;
  height:102px;
}
#u7779 {
  position:absolute;
  left:2px;
  top:43px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2A2B2B;
  line-height:18px;
}
#u7780 {
  position:absolute;
  left:949px;
  top:50px;
  width:151px;
  height:70px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2A2B2B;
  line-height:18px;
}
#u7781 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u7782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1359px;
  height:298px;
}
#u7782 {
  position:absolute;
  left:-170px;
  top:544px;
  width:1359px;
  height:298px;
}
#u7783 {
  position:absolute;
  left:2px;
  top:141px;
  width:1355px;
  visibility:hidden;
  word-wrap:break-word;
}
