body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:600px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:600px;
}
#u2 {
  position:absolute;
  left:2px;
  top:292px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:10px;
  width:220px;
  height:25px;
  font-size:21px;
  color:#333333;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:668px;
  top:0px;
  width:32px;
  height:32px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:550px;
  width:700px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:683px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:700px;
  height:1px;
}
#u8 {
  position:absolute;
  left:590px;
  top:568px;
  width:100px;
  height:25px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AE5300;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u8_img.disabled {
}
#u8.disabled {
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:50px;
  width:700px;
  height:500px;
  overflow:hidden;
}
#u10_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:500px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:25px;
  top:50px;
  width:140px;
  height:16px;
  color:#333333;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:25px;
  top:76px;
  width:220px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15_input {
  font-family:'应用字体';
}
#u16 {
  position:absolute;
  left:25px;
  top:111px;
  width:140px;
  height:16px;
  color:#333333;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:25px;
  top:137px;
  width:220px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18_input {
  font-family:'应用字体';
}
#u19 {
  position:absolute;
  left:25px;
  top:172px;
  width:140px;
  height:16px;
  color:#333333;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:25px;
  top:198px;
  width:220px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21_input {
  font-family:'应用字体';
}
#u22 {
  position:absolute;
  left:-10px;
  top:233px;
  width:190px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:25px;
  top:283px;
  width:140px;
  height:16px;
  color:#333333;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:25px;
  top:309px;
  width:220px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26_input {
  font-family:'应用字体';
}
#u27 {
  position:absolute;
  left:25px;
  top:350px;
  width:140px;
  height:16px;
  color:#333333;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:25px;
  top:376px;
  width:525px;
  height:134px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:134px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29_input {
  font-family:'应用字体';
}
#u30 {
  position:absolute;
  left:25px;
  top:520px;
  width:140px;
  height:16px;
  color:#333333;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:25px;
  top:546px;
  width:220px;
  height:22px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u32_input {
  font-family:'应用字体';
}
#u32_input:disabled {
  color:grayText;
}
#u33 {
  position:absolute;
  left:25px;
  top:578px;
  width:140px;
  height:16px;
  color:#333333;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:25px;
  top:604px;
  width:100px;
  height:16px;
  color:#333333;
}
#u36 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u35_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37 {
  position:absolute;
  left:85px;
  top:604px;
  width:100px;
  height:16px;
  color:#333333;
}
#u38 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u37_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u39 {
  position:absolute;
  left:145px;
  top:604px;
  width:100px;
  height:16px;
  color:#333333;
}
#u40 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u39_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u41 {
  position:absolute;
  left:210px;
  top:604px;
  width:100px;
  height:16px;
  color:#333333;
}
#u42 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u41_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43 {
  position:absolute;
  left:25px;
  top:630px;
  width:140px;
  height:16px;
  color:#333333;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:25px;
  top:664px;
  width:100px;
  height:16px;
  color:#333333;
}
#u46 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u45_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u47 {
  position:absolute;
  left:120px;
  top:664px;
  width:100px;
  height:16px;
  color:#333333;
}
#u48 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u47_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
