body{
	font-size:14px; margin:0;
}
header{
	height:100px; background:#9c6; margin-bottom:5px;
}
footer{height:60px; background:#9c6;}
nav{height:30px; background:#693; margin-bottom:5px;}
.banner{height:340px;}
.mainContent { height:130px; margin-bottom:5px;}
.sidebar { float:left; width:200px; height:120px; background:#cf9;}
.sidebar2 { float:right; width:200px; height:120px; background:#cf9;}
.content { margin:0 205px !important; height:120px; background:#ffa;}
